
<%= form_for provisioner, :url => step2_update_foreman_setup_provisioner_path do |f| %>
  <%= base_errors_for provisioner %>
  <%= provisioner_wizard 2 %>

  <p>
    <%= _("To provision hosts, some configuration values are needed for the provisioning subnet attached to the Foreman server.") %>
  </p>

  <h4><%= _("Subnet") %></h4>
  <%= f.fields_for :subnet, f.object.subnet do |sf| %>
    <%= render 'subnets/fields', :f => sf %>
  <% end %>

  <%= submit_or_cancel f, false, {:cancel_path => foreman_setup_provisioners_path, :disabled => !(f.object.host.present? && f.object.smart_proxy.present?)} %>
<% end %>
