<%= javascript_tag do %>
  function setup_media_change(ele) {
    if ($(ele).val() == 'spacewalk') {
      $('[id$="medium_path"]').prop('disabled', true)
      $('#spacewalk_hostname').prop('disabled', false)
    } else {
      $('#spacewalk_hostname').prop('disabled', true)
      $('[id$="medium_path"]').prop('disabled', false)
    }
  }

  function setup_media_create_change(ele) {
    $('[id$="medium_id"]').val('')
  }
<% end %>

<%= form_for provisioner, :url => step4_update_foreman_setup_provisioner_path, :method => 'PUT' do |f| %>
  <%= base_errors_for provisioner %>
  <%= provisioner_wizard 4 %>

  <p>
    <%= _("Some information about the location of installation media for the operating system used for provisioning is now required.") %>
  </p>

  <p>
    <%= _("If installation media has already been set up, it can be selected below and the wizard will complete the necessary associations.  Otherwise use the fields below, or the Installation Media page in Foreman to add new media.") %>
  </p>

  <h4><%= _("Operating system") %></h4>
  <p><%= _("The following operating system will be configured for provisioning:") %></p>
  <%= content_tag(:div, :style => 'margin-left: 20px; margin-bottom: 30px;') { (icon(f.object.host.os, :size => "18x18") + " #{f.object.host.os}").html_safe } %>

  <h5><%= _("Use an existing installation medium") %></h5>
  <%= f.fields_for :hostgroup do |hgf| %>
    <%= select_f hgf, :medium_id, Medium.all, :id, :name, {:include_blank => true}, {:label => _("Existing medium")} %>
  <% end %>

  <h5><%= _("Create new installation medium") %></h5>
  <%= f.fields_for :create_medium, @medium do |mf| %>
    <%= text_f mf, :name, :onchange => 'setup_media_create_change(this)' %>
    <%= text_f mf, :path, :label => _("Path or URL") %>
  <% end %>

  <%= submit_or_cancel f, false, {:cancel_path => foreman_setup_provisioners_path, :disabled => !(f.object.host.present? && f.object.smart_proxy.present?)} %>
<% end %>
